.App {
  max-width: 600px;
  font-family: sans-serif;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin-top: 6rem;
}